@using IH.IhudBlog.Web.Models;
@model List<UserViewModel>



    <h2>Пользователи</h2>


<div class="container-fluid">

    <div class="row">
            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Логин", "Index", new { sortOrder = ViewBag.TitleSortParam })
                    </th>
                    <th>
                        @Html.ActionLink("Дата Рождения", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Почта", "Index", new { sortOrder = ViewBag.DraftSortParam })
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="superclass note-list-item" data-noteid="@item.Id">

                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }

            </table>

        </div>


    </div>
